body {
  background-color: white;
}

* {
  padding: 0;
  margin: 0;
}

.img-text-container {
  position: relative;
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 5vw;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.img-text-container p {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-text-container img {
  width: 100%;
}
